<h2>We can count how many times your favorite words appears in your favorite phrase!</h2>
<form action='/results'>
  <div class="form-group">
    <label for="chosen_word">Your Favorite Word</label>
    <input id="chosen_word" name="chosen_word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="total">Your Favorite Phrase</label>
    <input id="total" name="total" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Ready to count!</button>
</form>
