<!DOCTYPE html>
<html>
<head>
  <title>Stay Shiny!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/style.css'>



</head>
<body>
  <div class="container">
    <%= yield %>
    <p><a href="/">Head back to port</a></p>
  </div>
</body>
</html>
