<h1>Thank you for joining us.</h1>
<p>Dear <%= @user %>,</p>
<p>We are thrilled to have you aboard! </p>
<p>You will begin to receive our captain's journal entries at <%= @email %> very soon.</p>
<p>Looking forward to flying the verse with you.</p>
<p>Stay shiny,</p>
<p>The Captain</p>
